*,
*:before,
*:after{
    padding: 50;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #0a0a0a;
}
nav{
    height: 10vh;
    cursor: pointer;
    width: 70vw;
    min-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    z-index: 9999;
}
a{
    position: relative;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    color: #a0a0a0;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 0 15px;
}
a:after{
    content: "";
    position: absolute;
    background-color: rgb(51, 133, 51);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
a:hover{
    color: rgb(255, 255, 255);
}
a:hover:after{
    width: 100%;
}

.title{
  text-align: center;
  color: white;
  font-family: Poppins, sans-serif;
  font-size: 45px;
  letter-spacing: 5px;
  padding-top: 15px;
  transition: 1s;
}
.title:hover{
  color: #0a0a0a;
  transition: 5s;
}

#BirdPic3{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  max-width: 1000px;
  padding: 50px;
  border-radius: 500px;
  transition: 1s;
}
#BirdPic3:active{
  width: 90%;
  transition: 5s;
  }

.subtitle{
  text-align: center;
  color: white;
  font-family: Poppins, sans-serif;
  font-size: 40px;
  padding-top: 40px;
}

.subsubtitle{
  text-align: center;
  color: white;
  font-family: Poppins, sans-serif;
  font-size: 30px;
  padding-top: 40px;
}

.paragraph{
  color: #a0a0a0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22.5px;
  padding-left: 240px;
  padding-right: 220px;
  padding-top: 20px;
  padding-bottom: 60px;
  line-height: 40px;
  letter-spacing: 1px;
  transition: 0.5s;
}
.paragraph:hover{
  color: white;
  transition: 0.5s;
}